@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(135deg, #ff6a00, #ee0979);
    font-family: "Varela Round", sans-serif;
}

.container{
    height: 380px;
    width: 350px;
    border: 3px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 7px;
    padding: 25px;
    transition: all .2s;
    background: linear-gradient(135deg, #ffa551, #ffb300);
    box-shadow: 0 8px 24px rgba(96, 47, 1, 0.6);
    
}

.container:hover{
    transform: translate(-50%,-50%) scale(1.05);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.906);
}

.container .app-title{
    text-align: center;
    font-size: 30px;
    color: #222;
    font-weight: 600;
    margin-top: 5px;
}

.container .weapon-box,
.container .player-choices{
    height: 120px;
    width: 100%;
    margin-top: 70px;
}

.container .weapon-box h3{
    text-align: center;
    font-weight: 300;
}

.container .weapon-box .weapons h3{
    text-align: center;
    font-weight: 300;
}

.container .weapon-box .weapons{
    height: 80px;
    width: 100%;
    margin-top: 15px;
}

.container .weapon-box .weapons div{
    height: 75px;
    width: 75px;
    background:linear-gradient(135deg, #ff6a00, #ee0979);
    border: 2px solid #000;
    border-radius: 100%;
    float: left;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -5px;
    cursor: pointer;
}

.container .weapon-box .weapons div:hover{
    transform:  scale(1.05);
    box-shadow: 0 8px 24px rgba(138, 1, 42, 0.906);
}

.container .weapon-box .weapons div img{
    height: 60px;
    width: 60px;

}

.container .score-box{
    height: 60px;
    width: 300px;
    margin-top: 30px;
    background:linear-gradient(135deg, #ff6a00, #ee0979);
    border: 2px solid #000;
    position: absolute;
    bottom: 25px;
    border-radius: 7px;
    padding: 10px;
    transition: all .2s;
}

.container .score-box:hover{
    transform:  scale(1.05);
    box-shadow: 0 8px 24px rgba(138, 1, 42, 0.906);
}

.container .score-box div{
    height: 25px;
    width: 85px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    border-right: 2px solid #000;
    margin-left: 5px;
    margin-top: 5px;
}

.container .score-box div:nth-child(3){
    border-right: none;
}

.container .score-box div h3 span{
    color: #fff;
}

.container .player-choices{
    height: 170px;
    margin-top: 40px;
    overflow: hidden;
    display: none;
}

.container .player-choices div{
    height: 130px;
    width: 130px;
    float: left;
    margin-top: 15px;
    position: relative;
    left: -120px;
}

.container .player-choices div:nth-child(3){
    transform: rotateY(180deg);
    position: relative;
    left: 160px;
}

.container .player-choices div img{
    height: 130px;
    width: 130px;
}

.container .player-choices div img:hover{
    transform:  scale(1.05);
}

.container .player-choices h3{
    word-spacing: 45px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.container .player-choices h3 span{
    font-weight: 200;
}

.container .player-choices.active div:nth-child(2){
    left: 0px;
    transition: all .2s;
    animation: player .8s linear infinite;
    animation-delay: .5s ;
}

@keyframes player{
    0%{
        transform: rotate(0deg);
    }50%{
        transform: rotate(-50deg);
    }100%{
        transform: rotate(0deg);
    }
}

.container .player-choices.active div:nth-child(3){
    left: 40px;
    transition: all .2s;
    animation: computer .8s linear infinite;
    animation-delay: .5s ;
}

 @keyframes computer{
    0%{
        transform: rotateY(180deg) rotate (0deg);
    }50%{
        transform: rotateY(180deg) rotate(-50deg);
    }100%{
        transform: rotateY(180deg) rotate(0deg);
    }
} 

.container .result-box{
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    transition: all .2s;
    display: none;
    /* border: 2px solid #000;
    border-radius: 7px;
    background: linear-gradient(135deg, #FF69B4, #FF8C00, #FFD700); */
}

.container .result-box button{
    all:unset;
    height: 40px;
    width: 150px;
    background: linear-gradient(135deg, #ff6a00, #f44b9c);
    white-space: nowrap;
    color: #222;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition: all .2s;
    border: 2px solid #000;
    margin-bottom: 10px ;
}

.container .result-box button:hover{
    transform:  scale(1.05);
    box-shadow: 0 8px 24px rgba(138, 1, 42, 0.906);
}

